<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Eunice_WeatherApp</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body> 
    <div class="container">
      <fieldset>
        <form action="/" method="post">
           <h1>Weather App</h1>
            <span><img id = "weatherIcon" src="https://image.flaticon.com/icons/svg/1684/1684375.svg" alt="Icon" width="100" height= "70"></span>
                <br>
           <div>
              <select id = "select" name = "city" type="text" class="ghost-button" required></select>
           </div>
              <p id="selected_city"></p>
        </form>

        <% if(weather !== null){ %>
            <p><%= weather %></p>
          <% } %>
          <% if(error !== null){ %>
            <p><%= error %></p>
          <% } %>

        <div id="temperature"></div> 

      </fieldset>
    </div>
    <script src="./js/main.js" ></script>
  </body>
</html>