<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Eunice_WeatherApp</title>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
  </head>
  <body>
    <div>
      <div class="container">
        <div class="box">
          <form action="/" method="post">
          <div class="weatherIcon">
            <span>
              <img id = "weatherIcon" src="https://image.flaticon.com/icons/svg/1684/1684375.svg" alt="Icon" width="100" height= "70">
            </span>
            <div>
              <select id = "select" name = "city" type="text" class="ghost-button" required>
              </select>
              <div id="firstModal" class="modal">
                <div class="modal-content">
                  <div class="modal-header">
                    <span id="closeBtn">
                      &times;
                    </span>
                    <p id="selected_city"></p>
                  </div>
                    <div id="icon"></div>
                    <div id="temperature"></div>
                    <div id="speed"></div>
                    <div id="humidity"></div>
                    <div id="pressure"></div>
                </div>              
              </div>
          </form>
                    {{#if weather}}
                      <p>{{weather}}</p>
                    {{/if}}
                    {{#if errorl}}
                      <p>{{error}}</p>
                    {{/if}}      
        </div>
      </div>
    </div>
    <script src="../public/js/main.js" ></script>
  </body>
</html>